* {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 3.5rem 0 0 0;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2.8rem;
}
#title-section {
  padding-bottom: 0.3rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h3 span {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(223, 87%, 63%);
}

h1 {
  color: hsl(0, 0%, 59%);
}

h1 span {
  font-size: 2.5rem;
  font-weight: 700;
  color: hsl(209, 33%, 12%);
}

#email {
  border: 1px solid hsl(223, 87%, 88%);
  border-radius: 30px;
  padding-left: 1.3rem;
  width: 21rem;
  height: 2.5rem;
  margin-right: 0.6rem;
  outline: none;
  font-size: 0.8rem;
}

#email::placeholder {
  color: hsl(223, 87%, 88%);
  font-size: 0.7rem;
}

#email:focus {
  border: 1px solid hsl(223, 87%, 60%);
}

button {
  font-size: 0.7rem;
  font-weight: 600;
  color: white;
  background-color: hsl(223, 87%, 63%);
  border: none;
  border-radius: 30px;
  padding: 0.7rem 3.3rem;
  box-shadow: 0px 4px 4px 3px hsl(223deg 87% 94%);
  transition: background-color 0.2s;
}

button:hover {
  background-color: hsl(223, 87%, 70%);
}

#form {
  margin-bottom: 2.8rem;
}

#img-section img {
  width: 45%;
}

#sns-links {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.sns {
  margin-right: 1rem;
}

.sns a {
  display: inline-block;
}

.sns i {
  font-size: 0.7rem;
  color: hsl(223, 87%, 63%);
  width: 30px;
  height: 30px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 50%;
  display: inline-block;
  padding-top: 0.35rem;
}

.sns i:hover {
  background-color: hsl(223, 87%, 63%);
  color: white;
  border: 1px solid hsl(223, 87%, 63%);
}

#copyright p {
  font-size: 0.6rem;
  color: hsl(0, 0%, 59%);
}

.red {
  background-color: red;
}
### Primary

- Blue: hsl(223, 87%, 63%)

### Secondary

- Pale Blue: hsl(223, 100%, 88%)
- Light Red: hsl(354, 100%, 66%)

### Neutral

- Gray: hsl(0, 0%, 59%)
- Very Dark Blue: hsl(209, 33%, 12%)
