* {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 4rem 0 0 0;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h3 {
  font-weight: 700;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

h3 span {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(223, 87%, 63%);
}

h1 {
  color: hsl(0, 0%, 59%);
}

h1 span {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(209, 33%, 12%);
}

### Primary

- Blue: hsl(223, 87%, 63%)

### Secondary

- Pale Blue: hsl(223, 100%, 88%)
- Light Red: hsl(354, 100%, 66%)

### Neutral

- Gray: hsl(0, 0%, 59%)
- Very Dark Blue: hsl(209, 33%, 12%)
